$bg_color: rgb(22, 22, 22);
$title_color: rgb(255, 102, 102);
$primary_color: rgb(195, 254, 255);
$secondary_color: rgb(255, 255, 255);
$bold_font: 600;
$normal_font: 400;
$title_size: 28px;
$answ_title_size: 20px;
$answ_size: 18px;
$global_family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

body {
  margin: 0;
  background-color: $bg_color;
  font-family: $global_family;
  display: flex;
  justify-content: center;
}

.title-container {
  top: 0;
  background-image: linear-gradient(to top, rgba($bg_color, 0.2), rgba($bg_color, 0.8), rgba($bg_color, 0.95), rgba($bg_color, 1),  rgba($bg_color, 1));
  padding-top: 40px;
  width: 100vw;
  min-height: 85px;
  text-align: center;
  position: fixed;
  font-size: $title_size;
  font-weight: $bold_font;
  color: $title_color;
}

.title-container span {
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: $secondary_color;
}

.questions-container {
  padding-top: 110px;
  margin-right: 20px;
  max-width: 1200px;
}

.questions-container ol{
  color: $primary_color;
}

.questions-container ol>li{
  padding-bottom: 25px;
}

.questions-container ul {
  color: $secondary_color;
}

.questions-container ul>li>span{
  font-size: $answ_size;
  font-weight: $normal_font;
  color: $secondary_color;
}

.questions-container li>span{
  font-weight: $bold_font;
  font-size: $answ_title_size;
  color: $primary_color;
}

.questions-container li>p{
  font-size: $answ_size;
  color: $secondary_color;
}